/* Web sit colors */
:root {
    --mainColor: #1fc996;
    --whiteText: white;
}



/* Home Page */

header {
    height: 100vh;
    background-image:url(/images/intro-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-color-layer {
    background-color: rgba(17, 20, 24, 80%);
    height: 100vh;
}

/* Nav Bar */

.home-nav {
    transition: 0.5s;
    z-index: 99;
}

.brand {
    color: var(--whiteText);
}

.brand:hover {
    color: var(--whiteText);
}

.nav-links li {
    margin: 0px 5px;
}

.nav-links li a{
    font-size: 16px;
    color: var(--whiteText);
}

.nav-links li a:hover {
    color: var(--mainColor);
}

.nav-active {
    color: var(--mainColor) !important;
}

.nav-icons i{
    margin: 10px;
    font-size: 18px;
    color: var(--whiteText);
    transition-duration: 0.25s;
}

.nav-icons i:hover {
    cursor: pointer;
}

.twitter:hover {
    color: #3498db;
}

.facebook:hover {
    color: #3D5996;
}

.dribbble:hover {
    color: #D84A80;
}

/* Home Page Content */

.home-content {
    color: var(--whiteText);
    margin-top: 10%;
    margin-bottom: 10%;
}

.home-content span {
    font-size: 64px;
}

.home-content button {
    color: var(--mainColor) !important;
    border: var(--mainColor) solid !important;
    transition-duration: 0.25s;
}

.home-content button:hover {
    color: var(--whiteText) !important;
    background-color: var(--mainColor) ;
}