/* Web sit colors */
:root {
    --mainColor: #1fc996;
    --whiteText: white;
    --lightText: #6d747d;
}

/* Public Classes */
.section-title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px 0%;
    margin-bottom: 4vw;
}

.section-title h2 {
    font-size: 9vw;
    font-weight: 600;
    opacity: 0.05;
    position: absolute;
}

.section-title p {
    font-size: 2.5rem;
    font-weight: 600;
}

.line {
    height: 4px;
    width: 80px;
    background-color: var(--mainColor);
    position: relative;
    bottom: 20px;
}

.my-name {
    color: var(--mainColor);
}

section {
    padding-top: 48px;
}

/* Home Page */

header {
    height: 100vh;
    background-image:url(/images/intro-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-color-layer {
    background-color: rgba(17, 20, 24, 80%);
    height: 100vh;
}

/* Nav Bar */

.home-nav {
    transition: 0.5s;
    z-index: 99;
}

.brand {
    color: var(--whiteText);
}

.brand:hover {
    color: var(--whiteText);
}

.nav-links li {
    margin: 0px 5px;
}

.nav-links li a{
    font-size: 16px;
    color: var(--whiteText);
}

.nav-links li a:hover {
    color: var(--mainColor);
}

.nav-active {
    color: var(--mainColor) !important;
}

.nav-icons i{
    margin: 10px;
    font-size: 18px;
    color: var(--whiteText);
    transition-duration: 0.25s;
}

.nav-icons i:hover {
    cursor: pointer;
}

.twitter:hover {
    color: #3498db;
}

.facebook:hover {
    color: #3D5996;
}

.dribbble:hover {
    color: #D84A80;
}

/* Home Page Content */

.home-content {
    color: var(--whiteText);
    margin-top: 20vh;
    margin-bottom: 2vh;
}

.home-content span::after {
    font-size: 5vw;
    content: "";
    animation: spanMove 5s infinite alternate;
}

@keyframes spanMove {
    0%   {content: "|";}
    3%   {content: "I|";}
    6%   {content: "I'|";}
    9%   {content: "I'm|";}
    12%   {content: "I'm |";}
    15%   {content: "I'm a|";}
    18%  {content: "I'm a |";}
    21%  {content: "I'm a D|";}
    24%  {content: "I'm a De|";}
    27%  {content: "I'm a Des|";}
    30%  {content: "I'm a Desi|";}
    33%  {content: "I'm a Desig|";}
    36%  {content: "I'm a Design|";}
    39%  {content: "I'm a Designe|";}
    42%  {content: "I'm a Designer|";}
    43%  {content: "I'm a Designer.|";}
    50% {content: "I'm a Designer.|";}
    51% {content: "I'm a Designer|";}
    54% {content: "I'm a Designe|";}
    57% {content: "I'm a Design|";}
    60% {content: "I'm a Desig|";}
    63% {content: "I'm a Desi|";}
    66% {content: "I'm a Des|";}
    69% {content: "I'm a De|";}
    72% {content: "I'm a D|";}
    75% {content: "I'm a |";}
    78% {content: "I'm a F|";}
    81% {content: "I'm a Fr|";}
    84% {content: "I'm a Fre|";}
    87% {content: "I'm a Free|";}
    90% {content: "I'm a Freel|";}
    91% {content: "I'm a Freela|";}
    93% {content: "I'm a Freelan|";}
    95% {content: "I'm a Freelanc|";}
    96% {content: "I'm a Freelance|";}
    97% {content: "I'm a Freelancer.|";}
    100% {content: "I'm a Freelancer.|";}
}

.home-content button {
    color: var(--mainColor) !important;
    border: var(--mainColor) solid !important;
    transition-duration: 0.25s;
}

.home-content button:hover {
    color: var(--whiteText) !important;
    background-color: var(--mainColor) ;
}

.down-arrow {
    position: relative;
    opacity: 0;
    animation: arrow-move 2s infinite;
}

@keyframes arrow-move {
    0% {top: 50px;}
    100% {top: 150px; opacity: 1;}
}

/* About Us Section */
.list-info li {
    padding: 10px 0px;
    border-bottom: rgba(0, 0, 0, 0.057) solid ;
    list-style: none;
}

.list-info .email {
    color: var(--mainColor);
    text-decoration: none;
    
}

.list-info .last {
    border-bottom: none;
}

.list-info span {
    font-weight: 600;
}

.cv-btn {
    background-color: var(--mainColor) !important;
    color: var(--whiteText);
    padding: 10px 45px;
    box-shadow: rgba(0, 0, 0, 0.067) 0px 10px 10px 5px;
    margin-bottom: 2vw;
    transition-duration: 0.5s;
}

.cv-btn:hover {
    color: var(--whiteText);
    background-color: #0d9e73 !important;

}

.experiance-cards .exp-card {
    text-align: center;
    border-right: solid rgba(0, 0, 0, 0.065);
    padding: 5px 0px;
}

.experiance-cards .last {
    border-right: none;
}

.experiance-cards div h4 {
    font-size: 3vw;
    color: var(--lightText);
}

/* Services Section */

.Services-section {
    background-color: #f8f8fb;
}

.ser-card {
    display: flex;
}

.ser-card i {
    font-size: 30px;
    color: var(--mainColor);
    background-color: var(--whiteText);
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.054) 0px 10px 10px 5px;
}

.info-text {
    padding-left: 25px;
}

/* Resume Section */

.info-card {
    border: rgba(0, 0, 0, 0.096) solid;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info-card span {
    color: var(--whiteText);
    background-color: var(--mainColor);
    padding: 2px 10px;
    border-radius: 5px;
}

.info-card h5 {
    margin-top: 10px;
    font-weight: 600;
}

.info-card h6 {
    color: #dc3444;
    margin-bottom: 15px;
}

.bar-color {
    background-color: var(--mainColor);
}
